body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    padding: 0px 0; /* Ajusta el padding si es necesario */
}

.dropdown {
    float: right;
    position: relative;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.container {
        background-color: #d4a373;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
    }
form {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
label {
        display: block;
        margin: 10px 0 5px;
        color: white;
    }
input, select, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #e9edc9;
        border-radius: 4px;
        background-color: #faedcd;
    }
button {
        padding: 10px 15px;
        background-color: #ccd5ae;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
button:hover {
        background-color: #588157;
    }





 