<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vinculación del CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
	<link rel="stylesheet" href="{% static 'lleno.css' %}">

  	<header>
    <h1>BerlFood</h1>
    <p>Un lugar donde el café y la comodidad se encuentran</p>
        </header>

    <nav>
        <a href="{% url 'inicio' %}"> Inicio</a>
        <a href="{% url 'menu' %}"> Menú</a>
        <a href="{% url 'contacto' %}"> Reservación</a>
        <a href="{% url 'menu' %}"> Contacto</a>
    </nav>





<body >

	<div class="face">
		<div class="band">
			<div class="blue"></div>
			<div class="white"></div>
			<div class="blue"></div>
		</div>
		<div class="eyes"></div>
		<div class="dimples"></div>
		<div class="mouth"></div>
	</div>
	
	<h1 style="color: #000;">¡La fecha y hora ya están reservadas !</h1>
	<h2>¡Por favor, elija otra fecha y hora!</h2>
	<a  href="{% url 'contacto' %}">
	<div class="btn">Volver al Formulario</div>
	</a>
	</body>
    <footer>
        <p>&copy; 2024 BerlFood. Todos los derechos reservados.</p>
    </footer>
	</html>