<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Reservación</title>

    <!-- Vinculación del CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    </head>

    <header>
    <h1>BerlFood</h1>
    <p>Un lugar donde el café y la comodidad se encuentran</p>
    </header>

    <nav>
        <a href="{% url 'inicio' %}"> Inicio</a>
        <a href="{% url 'menu' %}"> Menú</a>
        <a href="{% url 'contacto' %}"> Reservación</a>
        <a href="{% url 'menu' %}"> Contacto</a>
    </nav>

    <body id="index">
        <div class="centroB">


    <div class="container">
        <h2 class="H2">Formulario de Reservación</h2>
        <form method="post" action="{% url 'contacto' %}" class="mt-4">
            {% csrf_token %}
            <div class="form">
                <label for="nombre">Nombre del Cliente:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required autocomplete="off">
            </div>

            <div class="form">
                <label for="correo">Correo Electrónico:</label>
                <input type="email" class="form-control" id="correo" name="correo" required>
            </div>

            <div class="form">
                <label for="telefono">Número de Teléfono:</label>
                <input type="tel" class="form-control" id="telefono" name="telefono" required>
            </div>

            <div class="form">
                <label for="numero_personas">Número de Personas:</label>
                <input type="number" class="form-control" id="numero_personas" name="numero_personas" min="1" required>
            </div>

            <div class="form">
                <label for="fecha">Fecha de la Reserva:</label>
                <input type="date" class="form-control" id="fecha" name="fecha" required>
            </div>

            <div class="form">
                <label for="tipo_reserva">Tipo de Reserva:</label>
                <select class="form-control" id="tipo_reserva" name="tipo_reserva" required>
                    <option value="">Seleccione una opción</option>
                    <option value="meson">Mesón</option>
                    <option value="salón">Salón</option>
                </select>
            </div>
            <div class="form">
                <label for="mesa">Mesa:</label>
                <select class="form-control" id="mesa" name="mesa" required>
                    <option value="">Seleccione una mesa</option>
                    <option value="01">Mesa #01</option>
                    <option value="02">Mesa #02</option>
                    <option value="03">Mesa #03</option>
                    <option value="04">Mesa #04</option>
                    <option value="05">Mesa #05</option>
                    <option value="06">Mesa #06</option>
                    <option value="07">Mesa #07</option>
                    <option value="08">Mesa #08</option>
                    <option value="09">Mesa #09</option>
                    <option value="10">Mesa #10</option>
                    <option value="11">Mesa #11</option>
                    <option value="12">Mesa #12</option>
                    <option value="13">Mesa #13</option>
                </select>
            </div>

            <div class="form">
                <label for="Hora">Hora:</label>
                <select class="form-control" id="Hora" name="Hora" required>
                    <option value="">Seleccione una hora</option>
                    <option value="10:00">10:00 am</option>
                    <option value="12:00">12:00 md</option>
                    <option value="13:00">01:00 pm</option>
                    <option value="14:00">02:00 pm</option>
                    <option value="15:00">03:00 pm</option>
                    <option value="16:00">04:00 pm</option>
                    <option value="17:00">05:00 pm</option>
                    <option value="18:00">06:00 pm</option>
                </select>
            </div>

            <div class="form">
                <label for="notas">Notas:</label>
                <textarea class="form-control" id="notas" name="notas"></textarea>
            </div>

            <div class="form">
                <label for="acceso">Acceso:</label>
                <select class="form-control" id="acceso" name="acceso" required>
                    <option value="">Seleccione una opción</option>
                    <option value="interior">Interior</option>
                    <option value="exterior">Exterior</option>
                </select>
            </div>
            <button type="danger" class="my-button ">Enviar Reservación</button>
        </div>
        </form>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
<footer>
    <p>&copy; 2024 BerlFood. Todos los derechos reservados.</p>
</footer>
</html>
