<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BerlFood - Tu Cafetería Favorita</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>



    </style>
</head>
<body>
    <header>
        <h1>BerlFood</h1>
        <p>Un lugar donde el café y la comodidad se encuentran</p>
    </header>

    <nav >
        <a href="{% url 'inicio' %}"> Inicio</a>
        <a href="{% url 'menu' %}"> Menú</a>
        <a href="{% url 'contacto' %}"> Reservación</a>
        <a href="{% url 'contactos' %}"> Contacto</a>
    </nav>

    
    <section class="text-section">
        <h2 style="text-align: center;">BerlFood</h2>
        <p class="p1">
            Bienvenido a BerlFood, el rincón donde el corazón de Berlín late en cada plato. Diseñado para todos los amantes de la buena comida, nuestro restaurante ofrece una experiencia gastronomía única que rinde homenaje a la tradición alemana, al mismo tiempo que incorpora influencias contemporáneas. Desde nuestras famosas salchichas y chuletas de cerdo hasta opciones vegetarianas innovadoras, cada bocado está impregnado de historia y pasión culinaria.
        </p>
        <p class="p1">
            Te invitamos a explorar nuestro menú, que varia entre lo clásico y lo moderno, y a disfrutar de un espacio acogedor y vibrante que refleja la esencia de la capital alemana. Con un equipo apasionado y dedicado, en BerlinFood no solo te prometemos una comida deliciosa, sino también momentos memorables. Ven a visitarnos y déjate llevar por una experiencia que se saborea en cada detalle.
        </p>
    </section>

    <section class="promo-container">
        <div class="promo" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWJXjbX2KbpQn8mhgDZhH5SHOcOtYtYgQvCw&s');">
            <h3>2x1 en capuchinos</h3>
        </div>
        <div class="promo" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJw6qBUnIJXH3HoE3CBaBfrRkfLV-4kt45RA&s');">
            <h3>Desayuno especial</h3>
        </div>
        <div class="promo" style="background-image: url('https://media.traveler.es/photos/61377fee06df43bef2d320e9/master/w_320%2Cc_limit/24674.jpg');">
            <h3>Ambiente acogedor</h3>
        </div>
    </section>

    
    <section class="text-section">
        <h2 style="text-align: center;">¿Quiénes somos?</h2>
        <p class="p1">
            En BerlinFood, te llevamos a un viaje culinario a través de los sabores auténticos de Berlín. Nuestro restaurante es un lugar donde la cultura y la gastronomía se entrelazan, ofreciendo platos inspirados en la rica herencia culinaria alemana, combinados con un toque moderno. Nos comprometemos a utilizar ingredientes frescos y de alta calidad, apoyando a productores locales y sostenibles. Ya sea que estés buscando una cena romántica, una reunión familiar o un almuerzo con amigos, en BerlinFood encontrarás el ambiente perfecto y un servicio excepcional.
        </p>

        
        <p ><b>Misión</b></p>
        
        <p class="p1">Nuestra misión en BerlinFood es brindar una experiencia gastronómica excepcional que celebre los sabores auténticos de Berlín, mientras promovemos la sostenibilidad y el bienestar de nuestra comunidad. Nos esforzamos por crear un ambiente cálido y acogedor donde cada visitante se sienta bienvenido y satisfecho.</p>
        
        <p><b>Visión</b></p>
        
        <p class="p1">En BerlinFood, nuestra visión es ser reconocidos como el principal destino gastronómico para aquellos que buscan no solo una comida deliciosa, sino una experiencia cultural rica que inspire a nuestros clientes a explorar y apreciar la diversidad de la cocina alemana. Aspiramos a expandir nuestra influencia, llevando el espíritu de Berlín a nuevas ciudades y corazones.</p>
        
        <p><b>Ética</b></p>
        
        <p class="p1">En BerlinFood, actuamos con integridad y responsabilidad. Nos dedicamos a practicar un comercio ético, eligiendo trabajar con proveedores que compartan nuestros valores de sostenibilidad y calidad.</p>
        
    </section>



<section class="video-promo" style="text-align: center; padding: 40px 20px;">
    <h2>Café de la más alta calidad</h2>
    <div style="margin-bottom: 40px;">
        <iframe width="700" height="350" src="https://www.youtube.com/embed/0jIeCAOkgcQ" title="Coffee reels - macro videos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>


    <section class="about">
        <p>
            En BerlFood, nos apasiona crear experiencias inolvidables. Ofrecemos café de alta calidad, deliciosa
            comida artesanal y un ambiente relajante. Visítanos y déjanos ser parte de tu día.
        </p>
    </section>

    <footer>
        <p>&copy; 2024 BerlFood. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

